.comicCard {
  width: 330px;
  margin: 20px 10px;
  background-color: var(--white);
  cursor: pointer;
  transition: 0.3s;
}

.comicCard:hover {
  box-shadow: 1px 1px 7px gray;
  transform: scale(1.06);
}

.comicCard img{
  width: 330px;
  height: 450px;
}

.comicCard h3, p {
  padding: 10px;
  text-align: justify;
}