.topbarContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--dark);
  width: 99vw;
  height: 80px;
  box-shadow: 1px 1px 5px var(--dark);
  position: relative;
  top: -10px;
  left: -10px;
}

.topbarContainer img {
  border-radius: 5px;
}

.topbarTitle {
  font-family: 'Bebas Neue', cursive;
  color: var(--white);
  letter-spacing: 1px;
  font-size: 24px;
}