.comicDetailsCard {
  width: 100%;
  margin: 20px 10px;
  background-color: var(--white);
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.comicDetailsCard img {
  width: 300px;
}

.comicDetailsCard h3, p, div {
  padding: 10px;
}

.comicDetailsCard .characterNameSpan {
  color: var(--blue);
  cursor: pointer;
  margin: 0 3px;
  padding: 2px 6px;
}

.comicDetailsCard .characterNameSpan:hover {
  background-color: var(--red);
  color: var(--white);
  border-radius: 5px;
}

