.pageContainer {
  background-color: var(--light);
  min-height: 100vh;
  width: 85%;
  margin: 0 auto;
  padding: 10px;
}

.loading {
  color: var(--red);
}

.cardContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.comicCardContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.foundCharacterCardContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}

.notFound {
  margin: 20px;
  font-size: 20px;
  font-family: 'Marvel', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 130px;
}