.characterCard {
  width: 300px;
  margin: 20px 10px;
  transition: 0.3s;
}

.characterCard:hover {
  cursor: pointer;
  transform: scale(1.06);
}

.characterCard h3 {
  background-color: var(--graphite);
  width: 300px;
  padding: 10px 0 10px 10px;
  color: white;
  border-bottom: 1px solid white;
  border-top-left-radius: 10px;
}

.characterCard img{
  width: 300px;
  height: 300px;
}