/*  Global CSS  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light);
}

:root {
  --blue: #0000ff;
  --dark: #202020;
  --graphite: #1f2127;
  --light: #f2f3f5;
  --red: #ff0000;
  --white: #ffffff;
}

a {
  text-decoration: none;
}

input::placeholder {
  font-size: 10px;
}

button {
  font-family: 'Marvel', sans-serif;
  cursor: pointer;
}

button:disabled {
  border:1px solid gainsboro;
  color: gainsboro;
  cursor: initial;
  background-color: white;
}

.container {
  margin: 0;
  padding: 0;
}

.backContainer {
  width: 250px;
  display: flex;
  align-items: center;
  margin: 25px 5px 3px 0;
  cursor: pointer;
  font-size: 32px;
  color: #e1392c;
}

.backContainer .backArrow:hover, .backContainer .home:hover{
  color: #860202;
}

.backContainer .backArrow, .backContainer .home {
  display: flex;
  align-items: center;
}

.backContainer .backArrow span, .backContainer .home span {
  font-size: 16px;
  margin-left: 5px;
}

.fieldsContainer .field {
  width: 100%;
  padding: 15px 5px 5px 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 14px;
  margin-top: 10px;
}

.fieldsContainer .field:focus {
  outline: none;
  border-bottom: 2px solid #e1392c;
}


/*  errors styles  */

.error {
  color: red;
  border-bottom: 1px solid red;
}

.noError {
  color: rgba(0, 0, 255, 0.6);
  border-bottom: 1px solid rgb(85, 85, 243);
}

.noError:focus {
  border-bottom: 1px solid rgb(85, 85, 243);
  box-shadow: 0 5px 5px -7px blue;
}

.errorSpan {
  font-size: 12px;
  color: #e1392c;
  margin-top: 0px;
  font-weight: bold;
}

/*  placeholder  */

::-webkit-input-placeholder {
  color: var(--red);
  font-size: 10px;
}

:-moz-placeholder { /* Firefox 18- */
  color: var(--red);
  font-size: 10px;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: var(--red);
  font-size: 10px;
}

:-ms-input-placeholder {  
  color: var(--red);
  font-size: 10px;
}