/*  Global CSS  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light);
}

:root {
  --light: #f2f3f5;
  --dark: #202020;
  --red: #ff0000;
  --graphite: #1f2127;
  --white: #ffffff;
}

button {
  font-family: 'Marvel', sans-serif;
  cursor: pointer;
}
